.LibraryApp {
  height: calc(100vh - var(--nav-height));
  overflow: hidden;
}
.book-view {
  /* local variables */
  --chapter-selector-width: 312px;
  --view-height: calc(100vh - var(--nav-height)*2);
  --content-margin-height:0px;
  --content-padding:20px;
  --content-width: calc(100vw - var(--chapter-selector-width) - var(--content-padding) - 200px);
  --content-height: calc(100vh - var(--nav-height)*2 - var(--content-padding)*2 - var(--content-margin-height)*2);
  --shadow-size: 20px;
  --shadow-color: #000000;

  box-shadow: var(--shadow-size) calc(var(--shadow-size) / 3) var(--shadow-size) var(--shadow-color) inset;
  background-color:#8f8f8f;
  height: var(--view-height);
}

.book-selector {
  //background-color: #222222;
  //background-color: #3f3f3f55;
  height: var(--nav-height);
  overflow:hidden;
  white-space:nowrap;
  //box-shadow: inset 0 20px 10px -10px #333333;
  background-color: #3f3f3f99;
  background-color: #343434;
}
.book-selector::-webkit-scrollbar { 
  display: none;
}
.book-selector-link a {
  float: left;
  color: var(--nav-bg);
  //color: white;
  color: #888888;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* Add a color to the active/current link */
.book-selector-link a.active {
  background-color: var(--nav-bg);
  color: white;
  background-color: #141414;
  background-color: #555555;
}
/* Change the color of links on hover */
.book-selector-link a:hover {
  //color: white;
  background-color: #171717;
  background-color: #343434;
  background-color: #555555;
}
/* Chapter selection styles */
.chapter-menu {
  width: var(--chapter-selector-width);
  height: var(--view-height);
  background-color: #3f3f3fef;
  background-color: #141414;
  box-shadow: 0px var(--shadow-size) var(--shadow-size) var(--shadow-color);
  float:left;
}
@keyframes grow {
  from {
    width: 85%;
  }
  to {
    width: 95%;
  }
}
@keyframes shrink {
  from {
    width: 95%;
  }

  to {
    color:85%;
  }
}
.chapter-menu-button {
  margin-top: 10px;
  cursor:pointer;
  width:85%;
  height:40px;
  float:right;
  color:black;
  background-color: var(--main-fg);
  text-align:left;
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
  animation-duration: 0.4s;
}

/* Button link is the same as current chapter */
.chapter-menu-button.active{
  width:95%;
  color:white;
  background-color:#232323;
  animation-name: grow;
}
.chapter-menu-button.inactive{
  width:85%;
  color:black;
  background-color: var(--main-fg);
  animation-name: shrink;
}
/* chapter-menu-button text style */
.chapter-menu-button p{
  margin: 0px;
  margin-left: 4px;
  font-family: "Times New Roman", Times, serif;
  font-size:24px;
}

/* Button for adding book */
.addBook {
  height: var(--nav-height);
  width: var(--nav-height);
  font-size: 38px;
}

/* The main area where majority of the site takes place */
/* The container div */
.margin {
  height:var(--content-margin-height);
}
