:root {
  /* Global variables */
  /* Colors */
  --nav-height: 48px;
  --main-fg: #909090;
  --main-fg: #f1f1f1ef;
  --main-bg: #343434;
  --editor-bgcolor: #303030ef;
  --editor-bgcolor: #ffffffef;
}
body {
  margin:0px;
}
