.library-home {
  background-color: #141414;
  color: white;
  height: calc(100vh - calc(var(--nav-height) * 2));
  display:flex;
  flex-direction: column;

  h1 {
    opacity: 0;
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  h2 {
    //margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
    margin-top: 10px;
    text-decoration: underline;
  }
  p {
    opacity: 0;
    font-size: 20px;
    margin: 10px;
  }
  .ani-1 {
    animation-name:testi;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }
  .ani-2 {
    animation-name:testi;
    animation-duration: 5s;
    animation-delay: 4s;
    animation-fill-mode: forwards;

  }
  .ani-3 {
    animation-name:testi;
    animation-duration: 5s;
    animation-delay: 8s;
    animation-fill-mode: forwards;
  }
  .ani-4 {
    animation-name:testi;
    animation-duration: 5s;
    animation-delay: 12s;
    animation-fill-mode: forwards;

  }
  .ani-5 {
    animation-name:testi;
    animation-duration: 5s;
    animation-delay: 15s;
    animation-fill-mode: forwards;

  }
  .top {
    display: flex;
  }
  .arrow-up {
    margin-top:5px;
    margin-left:10px;
    margin-right:10px;
  }
  .top-left {
    opacity: 0;
    width:50%;
    display:flex;
    padding:10px;
    align-items:left;
    justify-content:left;
  }
  .top-right {
    opacity: 0;
    width:50%;
    padding:10px;
    display:flex;
    align-items:right;
    justify-content:right;

  }
  .bottom {
    text-align:center;
  }

}

